nifi/data/processors/combineUsersAndTransactions.json
{
  "flowContents": {
    "identifier": "07f0ab8d-4103-35a9-9af8-9885d2647612",
    "instanceIdentifier": "e160cb5f-0192-1000-26fd-bb32124a76e1",
    "name": "combineUsersAndTransactions",
    "comments": "",
    "position": {
      "x": 484.0,
      "y": 118.0
    },
    "processGroups": [],
    "remoteProcessGroups": [],
    "processors": [
      {
        "identifier": "fbec8abf-2125-35c4-a516-ffdfa79df615",
        "instanceIdentifier": "e174c91b-0192-1000-efbb-b0b6b3a3c2b2",
        "name": "LookupRecord",
        "comments": "",
        "position": {
          "x": 856.0,
          "y": 256.0
        },
        "type": "org.apache.nifi.processors.standard.LookupRecord",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.28.0"
        },
        "properties": {
          "result-contents": "insert-entire-record",
          "record.lookup.table.name": "/users",
          "routing-strategy": "route-to-success",
          "record-path-lookup-miss-result-cache-size": "1",
          "result-record-path": null,
          "lookup.key.column": "/user_id",
          "record-writer": "a7ab4f3a-2b72-3e9c-8f7e-59c758aca084",
          "record-reader": "389d156b-fd4f-3480-99eb-d0471f040f36",
          "lookup-service": "4d6bab30-64b7-3250-97eb-34dbc949b2c5",
          "record-update-strategy": "use-property",
          "record.lookup.schema.name": "/the_melvin_bank_db",
          "key": "/user_id"
        },
        "propertyDescriptors": {
          "result-contents": {
            "name": "result-contents",
            "displayName": "Record Result Contents",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record.lookup.table.name": {
            "name": "record.lookup.table.name",
            "displayName": "record.lookup.table.name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "routing-strategy": {
            "name": "routing-strategy",
            "displayName": "Routing Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record-path-lookup-miss-result-cache-size": {
            "name": "record-path-lookup-miss-result-cache-size",
            "displayName": "Cache Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "result-record-path": {
            "name": "result-record-path",
            "displayName": "Result RecordPath",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "lookup.key.column": {
            "name": "lookup.key.column",
            "displayName": "lookup.key.column",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record-writer": {
            "name": "record-writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "record-reader": {
            "name": "record-reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "lookup-service": {
            "name": "lookup-service",
            "displayName": "Lookup Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "record-update-strategy": {
            "name": "record-update-strategy",
            "displayName": "Record Update Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record.lookup.schema.name": {
            "name": "record.lookup.schema.name",
            "displayName": "record.lookup.schema.name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "key": {
            "name": "key",
            "displayName": "key",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "07f0ab8d-4103-35a9-9af8-9885d2647612"
      },
      {
        "identifier": "8e0268ec-9155-3dba-af3e-6687ad1efa58",
        "instanceIdentifier": "e169b152-0192-1000-ec3e-d18754f34f7c",
        "name": "PublishKafkaRecord_2_0",
        "comments": "",
        "position": {
          "x": 1320.0,
          "y": 256.0
        },
        "type": "org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-kafka-2-0-nar",
          "version": "1.28.0"
        },
        "properties": {
          "compression.type": "none",
          "attribute-name-regex": null,
          "record-writer": "a7ab4f3a-2b72-3e9c-8f7e-59c758aca084",
          "bootstrap.servers": "kafka:9092",
          "sasl.kerberos.principal": null,
          "sasl.kerberos.service.name": null,
          "kerberos-credentials-service": null,
          "partition": null,
          "sasl.mechanism": "GSSAPI",
          "max.block.ms": "5 sec",
          "record-reader": "b67c8879-e7d5-3f1b-97e5-0d592b183331",
          "message-header-encoding": "UTF-8",
          "transactional-id-prefix": null,
          "ack.wait.time": "5 secs",
          "sasl.username": null,
          "use-transactions": "true",
          "acks": "all",
          "aws.profile.name": null,
          "security.protocol": "PLAINTEXT",
          "ssl.context.service": null,
          "max.request.size": "1 MB",
          "sasl.token.auth": "false",
          "message-key-field": null,
          "Failure Strategy": "Route to Failure",
          "partitioner.class": "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
          "sasl.kerberos.keytab": null,
          "topic": "processed_transactions"
        },
        "propertyDescriptors": {
          "compression.type": {
            "name": "compression.type",
            "displayName": "Compression Type",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "attribute-name-regex": {
            "name": "attribute-name-regex",
            "displayName": "Attributes to Send as Headers (Regex)",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record-writer": {
            "name": "record-writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "bootstrap.servers": {
            "name": "bootstrap.servers",
            "displayName": "Kafka Brokers",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.kerberos.principal": {
            "name": "sasl.kerberos.principal",
            "displayName": "Kerberos Principal",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.kerberos.service.name": {
            "name": "sasl.kerberos.service.name",
            "displayName": "Kerberos Service Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "kerberos-credentials-service": {
            "name": "kerberos-credentials-service",
            "displayName": "Kerberos Credentials Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "partition": {
            "name": "partition",
            "displayName": "Partition",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.mechanism": {
            "name": "sasl.mechanism",
            "displayName": "SASL Mechanism",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "max.block.ms": {
            "name": "max.block.ms",
            "displayName": "Max Metadata Wait Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record-reader": {
            "name": "record-reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "message-header-encoding": {
            "name": "message-header-encoding",
            "displayName": "Message Header Encoding",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "transactional-id-prefix": {
            "name": "transactional-id-prefix",
            "displayName": "Transactional Id Prefix",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "ack.wait.time": {
            "name": "ack.wait.time",
            "displayName": "Acknowledgment Wait Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.username": {
            "name": "sasl.username",
            "displayName": "Username",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "use-transactions": {
            "name": "use-transactions",
            "displayName": "Use Transactions",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "acks": {
            "name": "acks",
            "displayName": "Delivery Guarantee",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "aws.profile.name": {
            "name": "aws.profile.name",
            "displayName": "AWS Profile Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "security.protocol": {
            "name": "security.protocol",
            "displayName": "Security Protocol",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "ssl.context.service": {
            "name": "ssl.context.service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "max.request.size": {
            "name": "max.request.size",
            "displayName": "Max Request Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.token.auth": {
            "name": "sasl.token.auth",
            "displayName": "Token Authentication",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "message-key-field": {
            "name": "message-key-field",
            "displayName": "Message Key Field",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Failure Strategy": {
            "name": "Failure Strategy",
            "displayName": "Failure Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "partitioner.class": {
            "name": "partitioner.class",
            "displayName": "Partitioner class",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.kerberos.keytab": {
            "name": "sasl.kerberos.keytab",
            "displayName": "Kerberos Keytab",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": {
              "cardinality": "SINGLE",
              "resourceTypes": [
                "FILE"
              ]
            }
          },
          "topic": {
            "name": "topic",
            "displayName": "Topic Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.password": {
            "name": "sasl.password",
            "displayName": "Password",
            "identifiesControllerService": false,
            "sensitive": true
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "success",
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "07f0ab8d-4103-35a9-9af8-9885d2647612"
      },
      {
        "identifier": "f055bda9-77e2-3c24-b71a-b58a68be476e",
        "instanceIdentifier": "e168d9de-0192-1000-9f86-a072ac491d80",
        "name": "QueryDatabaseTable",
        "comments": "",
        "position": {
          "x": 376.0,
          "y": 256.0
        },
        "type": "org.apache.nifi.processors.standard.QueryDatabaseTable",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.28.0"
        },
        "properties": {
          "Table Name": "transactions",
          "db-fetch-db-type": "PostgreSQL",
          "dbf-default-precision": "10",
          "Set Auto Commit": null,
          "Max Wait Time": "0 seconds",
          "Database Connection Pooling Service": "b6d2ca03-1739-3acb-89c4-b13c815a95fa",
          "Maximum-value Columns": "transaction_id",
          "dbf-user-logical-types": "false",
          "qdbt-output-batch-size": "0",
          "qdbt-max-rows": "0",
          "qdbt-max-frags": "0",
          "dbf-default-scale": "0",
          "initial-load-strategy": "Start at Current Maximum Values",
          "Fetch Size": "0",
          "db-fetch-sql-query": null,
          "Columns to Return": "transaction_id, transaction_datetime, merchant, category, amount, latitude, longitude, merchant_latitude, merchant_longitude, currency, user_id",
          "db-fetch-where-clause": null,
          "dbf-normalize": "false",
          "transaction-isolation-level": null
        },
        "propertyDescriptors": {
          "Table Name": {
            "name": "Table Name",
            "displayName": "Table Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "db-fetch-db-type": {
            "name": "db-fetch-db-type",
            "displayName": "Database Type",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbf-default-precision": {
            "name": "dbf-default-precision",
            "displayName": "Default Decimal Precision",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Set Auto Commit": {
            "name": "Set Auto Commit",
            "displayName": "Set Auto Commit",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Max Wait Time": {
            "name": "Max Wait Time",
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Database Connection Pooling Service": {
            "name": "Database Connection Pooling Service",
            "displayName": "Database Connection Pooling Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Maximum-value Columns": {
            "name": "Maximum-value Columns",
            "displayName": "Maximum-value Columns",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbf-user-logical-types": {
            "name": "dbf-user-logical-types",
            "displayName": "Use Avro Logical Types",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "qdbt-output-batch-size": {
            "name": "qdbt-output-batch-size",
            "displayName": "Output Batch Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "qdbt-max-rows": {
            "name": "qdbt-max-rows",
            "displayName": "Max Rows Per Flow File",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "qdbt-max-frags": {
            "name": "qdbt-max-frags",
            "displayName": "Maximum Number of Fragments",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbf-default-scale": {
            "name": "dbf-default-scale",
            "displayName": "Default Decimal Scale",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "initial-load-strategy": {
            "name": "initial-load-strategy",
            "displayName": "Initial Load Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Fetch Size": {
            "name": "Fetch Size",
            "displayName": "Fetch Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "db-fetch-sql-query": {
            "name": "db-fetch-sql-query",
            "displayName": "Custom Query",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Columns to Return": {
            "name": "Columns to Return",
            "displayName": "Columns to Return",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "db-fetch-where-clause": {
            "name": "db-fetch-where-clause",
            "displayName": "Additional WHERE clause",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbf-normalize": {
            "name": "dbf-normalize",
            "displayName": "Normalize Table/Column Names",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "transaction-isolation-level": {
            "name": "transaction-isolation-level",
            "displayName": "Transaction Isolation Level",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "20 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "PRIMARY",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "07f0ab8d-4103-35a9-9af8-9885d2647612"
      }
    ],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [
      {
        "identifier": "15f62d83-fc47-3365-89a1-58de542b6666",
        "instanceIdentifier": "e18701d4-0192-1000-647a-893a030c8990",
        "name": "",
        "source": {
          "id": "f055bda9-77e2-3c24-b71a-b58a68be476e",
          "type": "PROCESSOR",
          "groupId": "07f0ab8d-4103-35a9-9af8-9885d2647612",
          "name": "QueryDatabaseTable",
          "comments": "",
          "instanceIdentifier": "e168d9de-0192-1000-9f86-a072ac491d80"
        },
        "destination": {
          "id": "fbec8abf-2125-35c4-a516-ffdfa79df615",
          "type": "PROCESSOR",
          "groupId": "07f0ab8d-4103-35a9-9af8-9885d2647612",
          "name": "LookupRecord",
          "comments": "",
          "instanceIdentifier": "e174c91b-0192-1000-efbb-b0b6b3a3c2b2"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "07f0ab8d-4103-35a9-9af8-9885d2647612"
      },
      {
        "identifier": "74f4874c-bf02-328c-9bd8-2212205d1cd5",
        "instanceIdentifier": "e1871c27-0192-1000-daaa-08971a081685",
        "name": "",
        "source": {
          "id": "fbec8abf-2125-35c4-a516-ffdfa79df615",
          "type": "PROCESSOR",
          "groupId": "07f0ab8d-4103-35a9-9af8-9885d2647612",
          "name": "LookupRecord",
          "comments": "",
          "instanceIdentifier": "e174c91b-0192-1000-efbb-b0b6b3a3c2b2"
        },
        "destination": {
          "id": "8e0268ec-9155-3dba-af3e-6687ad1efa58",
          "type": "PROCESSOR",
          "groupId": "07f0ab8d-4103-35a9-9af8-9885d2647612",
          "name": "PublishKafkaRecord_2_0",
          "comments": "",
          "instanceIdentifier": "e169b152-0192-1000-ec3e-d18754f34f7c"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "07f0ab8d-4103-35a9-9af8-9885d2647612"
      }
    ],
    "labels": [],
    "funnels": [],
    "controllerServices": [
      {
        "identifier": "93015df8-14ef-3488-a26f-2fddc99f365a",
        "instanceIdentifier": "e17ba53b-0192-1000-6ce5-d501852ef63a",
        "name": "CSVReader",
        "comments": "",
        "type": "org.apache.nifi.csv.CSVReader",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "1.28.0"
        },
        "properties": {
          "ignore-csv-header": "false",
          "schema-branch": null,
          "CSV Format": "custom",
          "Quote Character": "\"",
          "csvutils-allow-duplicate-header-names": "true",
          "Value Separator": ",",
          "Record Separator": "\\n",
          "Timestamp Format": null,
          "Escape Character": "\\",
          "Date Format": null,
          "Null String": null,
          "Skip Header Line": "false",
          "Trim Fields": "true",
          "schema-name": "${schema.name}",
          "schema-registry": null,
          "csv-reader-csv-parser": "commons-csv",
          "Time Format": null,
          "Comment Marker": null,
          "schema-access-strategy": "infer-schema",
          "schema-version": null,
          "csvutils-character-set": "UTF-8",
          "schema-text": "${avro.schema}"
        },
        "propertyDescriptors": {
          "ignore-csv-header": {
            "name": "ignore-csv-header",
            "displayName": "Ignore CSV Header Column Names",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-branch": {
            "name": "schema-branch",
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Trim double quote": {
            "name": "Trim double quote",
            "displayName": "Trim double quote",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "CSV Format": {
            "name": "CSV Format",
            "displayName": "CSV Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Quote Character": {
            "name": "Quote Character",
            "displayName": "Quote Character",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "csvutils-allow-duplicate-header-names": {
            "name": "csvutils-allow-duplicate-header-names",
            "displayName": "Allow Duplicate Header Names",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Value Separator": {
            "name": "Value Separator",
            "displayName": "Value Separator",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Record Separator": {
            "name": "Record Separator",
            "displayName": "Record Separator",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Timestamp Format": {
            "name": "Timestamp Format",
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Escape Character": {
            "name": "Escape Character",
            "displayName": "Escape Character",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Date Format": {
            "name": "Date Format",
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Null String": {
            "name": "Null String",
            "displayName": "Null String",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Skip Header Line": {
            "name": "Skip Header Line",
            "displayName": "Treat First Line as Header",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Trim Fields": {
            "name": "Trim Fields",
            "displayName": "Trim Fields",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-name": {
            "name": "schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-registry": {
            "name": "schema-registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "csv-reader-csv-parser": {
            "name": "csv-reader-csv-parser",
            "displayName": "CSV Parser",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Time Format": {
            "name": "Time Format",
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Comment Marker": {
            "name": "Comment Marker",
            "displayName": "Comment Marker",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-access-strategy": {
            "name": "schema-access-strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-version": {
            "name": "schema-version",
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "csvutils-character-set": {
            "name": "csvutils-character-set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-text": {
            "name": "schema-text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordReaderFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.28.0"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "07f0ab8d-4103-35a9-9af8-9885d2647612"
      },
      {
        "identifier": "b67c8879-e7d5-3f1b-97e5-0d592b183331",
        "instanceIdentifier": "e17d8df3-0192-1000-c1c3-2f513d64f7f1",
        "name": "JsonTreeReader",
        "comments": "",
        "type": "org.apache.nifi.json.JsonTreeReader",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "1.28.0"
        },
        "properties": {
          "schema-branch": null,
          "Timestamp Format": null,
          "schema-inference-cache": null,
          "Date Format": null,
          "schema-name": "${schema.name}",
          "schema-registry": null,
          "Time Format": null,
          "schema-access-strategy": "infer-schema",
          "schema-version": null,
          "schema-text": "${avro.schema}"
        },
        "propertyDescriptors": {
          "schema-branch": {
            "name": "schema-branch",
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Max String Length": {
            "name": "Max String Length",
            "displayName": "Max String Length",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-application-strategy": {
            "name": "schema-application-strategy",
            "displayName": "Schema Application Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Timestamp Format": {
            "name": "Timestamp Format",
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-inference-cache": {
            "name": "schema-inference-cache",
            "displayName": "Schema Inference Cache",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Date Format": {
            "name": "Date Format",
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-name": {
            "name": "schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "starting-field-strategy": {
            "name": "starting-field-strategy",
            "displayName": "Starting Field Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-registry": {
            "name": "schema-registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "starting-field-name": {
            "name": "starting-field-name",
            "displayName": "Starting Field Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Time Format": {
            "name": "Time Format",
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-access-strategy": {
            "name": "schema-access-strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-version": {
            "name": "schema-version",
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-text": {
            "name": "schema-text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Allow Comments": {
            "name": "Allow Comments",
            "displayName": "Allow Comments",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordReaderFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.28.0"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "07f0ab8d-4103-35a9-9af8-9885d2647612"
      },
      {
        "identifier": "a7ab4f3a-2b72-3e9c-8f7e-59c758aca084",
        "instanceIdentifier": "e17c5496-0192-1000-2235-5d0a1974d04b",
        "name": "JsonRecordSetWriter",
        "comments": "",
        "type": "org.apache.nifi.json.JsonRecordSetWriter",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "1.28.0"
        },
        "properties": {
          "schema-branch": null,
          "compression-level": "1",
          "schema-cache": null,
          "Timestamp Format": null,
          "Date Format": null,
          "Pretty Print JSON": "false",
          "compression-format": "none",
          "Schema Write Strategy": "no-schema",
          "suppress-nulls": "never-suppress",
          "output-grouping": "output-array",
          "schema-name": "${schema.name}",
          "schema-registry": null,
          "Time Format": null,
          "schema-access-strategy": "inherit-record-schema",
          "schema-protocol-version": "1",
          "schema-version": null,
          "schema-text": "${avro.schema}"
        },
        "propertyDescriptors": {
          "schema-branch": {
            "name": "schema-branch",
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Allow Scientific Notation": {
            "name": "Allow Scientific Notation",
            "displayName": "Allow Scientific Notation",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "compression-level": {
            "name": "compression-level",
            "displayName": "Compression Level",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-cache": {
            "name": "schema-cache",
            "displayName": "Schema Cache",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Timestamp Format": {
            "name": "Timestamp Format",
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Date Format": {
            "name": "Date Format",
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Pretty Print JSON": {
            "name": "Pretty Print JSON",
            "displayName": "Pretty Print JSON",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "compression-format": {
            "name": "compression-format",
            "displayName": "Compression Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Schema Write Strategy": {
            "name": "Schema Write Strategy",
            "displayName": "Schema Write Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "suppress-nulls": {
            "name": "suppress-nulls",
            "displayName": "Suppress Null Values",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "output-grouping": {
            "name": "output-grouping",
            "displayName": "Output Grouping",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-name": {
            "name": "schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-registry": {
            "name": "schema-registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Time Format": {
            "name": "Time Format",
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-access-strategy": {
            "name": "schema-access-strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-protocol-version": {
            "name": "schema-protocol-version",
            "displayName": "Schema Protocol Version",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-version": {
            "name": "schema-version",
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-text": {
            "name": "schema-text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordSetWriterFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.28.0"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "07f0ab8d-4103-35a9-9af8-9885d2647612"
      },
      {
        "identifier": "389d156b-fd4f-3480-99eb-d0471f040f36",
        "instanceIdentifier": "e1b61a1d-0192-1000-0db6-9bd1b4ad0e6c",
        "name": "AvroReader",
        "comments": "",
        "type": "org.apache.nifi.avro.AvroReader",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "1.28.0"
        },
        "properties": {
          "schema-branch": null,
          "schema-name": "${schema.name}",
          "cache-size": "1000",
          "schema-registry": null,
          "schema-access-strategy": "embedded-avro-schema",
          "schema-version": null,
          "schema-text": "${avro.schema}"
        },
        "propertyDescriptors": {
          "schema-branch": {
            "name": "schema-branch",
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-name": {
            "name": "schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "cache-size": {
            "name": "cache-size",
            "displayName": "Cache Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-registry": {
            "name": "schema-registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "schema-access-strategy": {
            "name": "schema-access-strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-version": {
            "name": "schema-version",
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-text": {
            "name": "schema-text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordReaderFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.28.0"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "07f0ab8d-4103-35a9-9af8-9885d2647612"
      },
      {
        "identifier": "b6d2ca03-1739-3acb-89c4-b13c815a95fa",
        "instanceIdentifier": "e16a8f07-0192-1000-1a95-b9ff46e0d9af",
        "name": "DBCPConnectionPool",
        "comments": "",
        "type": "org.apache.nifi.dbcp.DBCPConnectionPool",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-dbcp-service-nar",
          "version": "1.28.0"
        },
        "properties": {
          "dbcp-min-idle-conns": "0",
          "Max Wait Time": "500 millis",
          "Database Driver Class Name": "org.postgresql.Driver",
          "dbcp-min-evictable-idle-time": "30 mins",
          "kerberos-principal": null,
          "Max Total Connections": "8",
          "kerberos-credentials-service": null,
          "dbcp-max-conn-lifetime": "-1",
          "Validation-query": null,
          "Database Connection URL": "jdbc:postgresql://localhost:5432/the_melvin_bank_db",
          "dbcp-time-between-eviction-runs": "-1",
          "Database User": "postgres",
          "kerberos-user-service": null,
          "dbcp-soft-min-evictable-idle-time": "-1",
          "database-driver-locations": null,
          "dbcp-max-idle-conns": "8"
        },
        "propertyDescriptors": {
          "kerberos-password": {
            "name": "kerberos-password",
            "displayName": "Kerberos Password",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "dbcp-min-idle-conns": {
            "name": "dbcp-min-idle-conns",
            "displayName": "Minimum Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Max Wait Time": {
            "name": "Max Wait Time",
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Database Driver Class Name": {
            "name": "Database Driver Class Name",
            "displayName": "Database Driver Class Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbcp-min-evictable-idle-time": {
            "name": "dbcp-min-evictable-idle-time",
            "displayName": "Minimum Evictable Idle Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "kerberos-principal": {
            "name": "kerberos-principal",
            "displayName": "Kerberos Principal",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Max Total Connections": {
            "name": "Max Total Connections",
            "displayName": "Max Total Connections",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "kerberos-credentials-service": {
            "name": "kerberos-credentials-service",
            "displayName": "Kerberos Credentials Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "dbcp-max-conn-lifetime": {
            "name": "dbcp-max-conn-lifetime",
            "displayName": "Max Connection Lifetime",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Validation-query": {
            "name": "Validation-query",
            "displayName": "Validation query",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Database Connection URL": {
            "name": "Database Connection URL",
            "displayName": "Database Connection URL",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbcp-time-between-eviction-runs": {
            "name": "dbcp-time-between-eviction-runs",
            "displayName": "Time Between Eviction Runs",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Database User": {
            "name": "Database User",
            "displayName": "Database User",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "kerberos-user-service": {
            "name": "kerberos-user-service",
            "displayName": "Kerberos User Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "dbcp-soft-min-evictable-idle-time": {
            "name": "dbcp-soft-min-evictable-idle-time",
            "displayName": "Soft Minimum Evictable Idle Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "database-driver-locations": {
            "name": "database-driver-locations",
            "displayName": "Database Driver Location(s)",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": [
                "URL",
                "DIRECTORY",
                "FILE"
              ]
            }
          },
          "dbcp-max-idle-conns": {
            "name": "dbcp-max-idle-conns",
            "displayName": "Max Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Password": {
            "name": "Password",
            "displayName": "Password",
            "identifiesControllerService": false,
            "sensitive": true
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.dbcp.DBCPService",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.28.0"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "07f0ab8d-4103-35a9-9af8-9885d2647612"
      },
      {
        "identifier": "4d6bab30-64b7-3250-97eb-34dbc949b2c5",
        "instanceIdentifier": "e1839200-0192-1000-5f93-d9aa1cd673e7",
        "name": "DatabaseRecordLookupService",
        "comments": "",
        "type": "org.apache.nifi.lookup.db.DatabaseRecordLookupService",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-lookup-services-nar",
          "version": "1.28.0"
        },
        "properties": {
          "dbrecord-lookup-dbcp-service": "b6d2ca03-1739-3acb-89c4-b13c815a95fa",
          "dbf-default-precision": "10",
          "dbrecord-lookup-clear-cache-on-enabled": "true",
          "dbrecord-lookup-cache-size": "0",
          "dbrecord-lookup-value-columns": "username,email,phone,last_login,is_active",
          "dbrecord-lookup-key-column": "user_id",
          "Cache Expiration": null,
          "dbf-default-scale": "0",
          "dbrecord-lookup-table-name": "the_melvin_bank_db.users"
        },
        "propertyDescriptors": {
          "dbrecord-lookup-dbcp-service": {
            "name": "dbrecord-lookup-dbcp-service",
            "displayName": "Database Connection Pooling Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "dbf-default-precision": {
            "name": "dbf-default-precision",
            "displayName": "Default Decimal Precision",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbrecord-lookup-clear-cache-on-enabled": {
            "name": "dbrecord-lookup-clear-cache-on-enabled",
            "displayName": "Clear Cache on Enabled",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbrecord-lookup-cache-size": {
            "name": "dbrecord-lookup-cache-size",
            "displayName": "Cache Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbrecord-lookup-value-columns": {
            "name": "dbrecord-lookup-value-columns",
            "displayName": "Lookup Value Columns",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbrecord-lookup-key-column": {
            "name": "dbrecord-lookup-key-column",
            "displayName": "Lookup Key Column",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Cache Expiration": {
            "name": "Cache Expiration",
            "displayName": "Cache Expiration",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbf-default-scale": {
            "name": "dbf-default-scale",
            "displayName": "Default Decimal Scale",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbrecord-lookup-table-name": {
            "name": "dbrecord-lookup-table-name",
            "displayName": "Table Name",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.lookup.RecordLookupService",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.28.0"
            }
          },
          {
            "type": "org.apache.nifi.lookup.LookupService",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.28.0"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "07f0ab8d-4103-35a9-9af8-9885d2647612"
      }
    ],
    "variables": {},
    "defaultFlowFileExpiration": "0 sec",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "componentType": "PROCESS_GROUP",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE"
  },
  "externalControllerServices": {},
  "parameterContexts": {},
  "flowEncodingVersion": "1.0",
  "parameterProviders": {},
  "latest": false
}